# Ignore data
Dataset/

# Ignore virtual environment
venv/
data_profiling_env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/
